@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Momo+Signature&family=Patrick+Hand&family=Shadows+Into+Light&display=swap');
@import "tailwindcss";


@theme {
  --color-primary-dark: #040D12;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;

  --font-caveat: "Caveat", cursive;
  --font-mono: "Momo Signature", cursive;
  --font-patrick: "Patrick Hand", cursive;
  --font-shadow: "Shadows Into Light", cursive;
}
